<!DOCTYPE html>
<html lang="en" class="h-100">
  {% load static %}
  <head>

    {% include "page/head.html" %}
  </head>
    <body class="d-flex flex-column h-100">
    <!-- add navigation bar -->
    <header>
      {% include "page/nav.html" %}

    </header>
    <main role="main" class="flex-shrink-0">
    <!-- dynamic content -->
      {% block content %}
      {% endblock %}
    </main>


    <!-- add scripts and footer part of website -->
    {% include "page/footer.html" %}
    {% include "page/scripts.html" %}
  </body>
</html>
