<!DOCTYPE html>
<html lang="en" class="h-100">
  {% load static %}
  <head>

    {% include "page/head.html" %}
  </head>
    <body class="d-flex flex-column h-100">
    <!-- add navigation bar -->
    <div class="container pb-0">

      <header class="py-3">
        {% include "page/page_head.html" %}

      </header>
      <hr class="m-0">
      <div class="nav-scroller py-1 mb-2">

        {% include "page/nav.html" %}
      </div>
    </div>
    <main role="main" class="container pt-0 bg-light">
    <!-- dynamic content -->
      {% block content %}
      {% endblock %}
    </main>


    <!-- add scripts and footer part of website -->
    {% include "page/footer.html" %}
    {% include "page/scripts.html" %}
  </body>
</html>
