{% load static %}
<nav class="nav sticky-top justify-content-between">

  <a class="nav-link text-muted" href="{% url 'public:index'%}">Home</a>
  <a class="nav-link text-muted" href="{% url 'events:index' %}">Events</a>
  <a class="nav-link text-muted" href="{% url 'wiki:index' %}">Wiki</a>
  {% comment %} <a class="nav-link text-muted" href="#">Fotos</a>
  <a class="nav-link text-muted" href="#">Novembernebel</a> {% endcomment %}
  <a class="nav-link text-muted" href="#">Fotos</a>
  <a class="nav-link text-muted" href="#">Novembernebel</a>
</nav>