{% extends "page/base_generic.html" %}
{% block content %}

<style>
 .d-flex.w-100.justify-content-between{
   background-color: inherit;
   border-bottom: 1px solid gray;
 }
</style>

<div class="container">
  <div class="row-fluid">
    {% for post in posts %}
    <div class="container">

      <h2>{{ post.title }}</h2>

      <p>{{ post.text }}</p>
    </div><!--/span-->
    {% endfor %}

  </div><!--/row-->

  <form action="{% url 'events:index' %}" method="post" name="participation">
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        <div class="list-group" id="eventlist" role="tablist">
          {% for event, content in events.items %}
          <a class="list-group-item justify-content-between d-flex list-group-item-action align-items-center"
          id= "list-{{event}}-list" data-toggle="list" href="#list-{{event}}"
          role="tab" aria-controls="{{event}}" name={{event}}>
            {{ content.event.date }} {{ content.event.category }}
              <span class="badge badge-primary badge-pill"> {{content.participation_count}} </span>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% for choice_short, choice in content.choices.items %}
                <label class="btn btn-secondary">
                  {% if choice.userchoice == choice.choicetext %}
                  <input type="radio" name="evlist_{{user}}_{{content.event.id}}"
                  id="{{choice.choice}}" value="{{choice_short}}" checked> {{choice.choicetext}}
                  {% else %}
                  <input type="radio" name="evlist_{{user}}_{{content.event.id}}"
                  id="{{choice.choice}}" value="{{choice_short}}"> {{choice.choicetext}}
                  {% endif %}
                </label>
                {% endfor %}
              </div>
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-6">
        <div class="tab-content">
          {% for event, content in events.items %}
          <div class="tab-pane" id="list-{{content.event.id}}"
          role="tabpanel" aria-labelledby="list-{{content.event.id}}-list">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{content.event.name}} </h5>
              <small>{{content.event.location}} <br> {{content.event.date}}
              </small>

            </div>
            <br>
            <p class="mb-1">{{event.description}}</p>
            <br>

          </div>
          {% endfor %}

        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">save</button>
  </form>


</div><!--/span-->

{% endblock %}
