{% extends "page/base_generic.html" %}
{% block content %}

<!-- <style>
.d-flex.w-100.justify-content-between{
 background-color: inherit;
 border-bottom: 1px solid gray;
}

/*
.container-fluid{
  padding-bottom: 50px;
} */
</style> -->
<div class="container p-0 pt-3">
    <form action="{% url 'events:index' %}" href="?next={{request.path}}" method="post" name="participation">
        {% csrf_token %}
        <div class="row pt-3 pb-3">
            <aside class="col-md-3 mt-0 bg-light">
                {% include "events/sidebar.html" %}
            </aside>
            <div class="col-md-9">
                <div class="container" style="height: calc(75vh - 100px); overflow-y: scroll;">
                    
                    <div class="accordion" id="eventslist">
                        {{ formset.management_form}}
                        {% for event, form, participants, particount in eventforms %}

                        <div class="card">
                            <div class="card-header p-1" id="{{event.id}}_heading">
                                <a class="mb-0 d-flex">
                                    <div class="p-1 w-50">
                                        {% if event.categ.name == "training" %}
                                        <span class="badge badge-warning" type="button" onclick="window.location.href='{% url 'events:categ' event.categ.slug %}';">{{event.categ.name}}</span>
                                        {% elif event.categ.name == "tournament" %}
                                        <span class="badge badge-success" type="button" onclick="window.location.href='{% url 'events:categ' event.categ.slug %}';">{{event.categ.name}}</span>
                                        {% elif event.categ.name == "social" %}
                                        <span class="badge badge-primary" type="button" onclick="window.location.href='{% url 'events:categ' event.categ.slug %}';">{{event.categ.name}}</span>
                                        {% else %}
                                        <span class="badge badge-secondary" type="button" onclick="window.location.href='{% url 'events:categ' event.categ.slug %}';">{{event.categ.name}}</span>
                                        {% endif %}
                                        <br>
                                        <small>
                                            {{event.date}}
                                        </small>
                                    </div>
                                    <div class="">
                                        <span class="badge badge-primary badge-pill p-1 flex-shrink-1"> {{particount}} </span>
                                    </div>
                                    {% if user.is_authenticated %}
                                    <div class="btn-group btn-group-toggle p-1 ml-auto" data-toggle="buttons">
                                        {% for choice in form.part %}
                                        <label class="btn btn-secondary">
                                            {{choice}}
                                        </label>
                                        {% endfor %}
                                    {{form.id}}
                                    {{form.event}}
                                    {{form.person}}

                                    </div>
                                    {% endif %}
                                    <small class="p-1">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#list-{{event.id}}" aria-expanded="false" aria-controls="{{event.id}}">
                                            details
                                        </button>
                                    </small>
                                </a>
                            </div>
                            <div class="collapse" id="list-{{event.id}}" aria-labelledby="{{event.id}}_heading" data-parent="#eventslist">
                                <div class="card-body p-2">
                                    {{event.name}}
                
                                    <div class="d-flex w-100 justify-content-between">
                                        <small>
                                            {{event.location.name}},
                                            {{event.location.street}},
                                            {{event.location.place}}
                                        </small>
                                        {% if user.is_staff %}
                                        <a class="btn btn-light" role="button" href="{% url 'admin:events_event_change' event.id %}?next={{request.path}}">
                                            edit event
                                        </a>
                                        {% endif %}
                                    </div>
                                    <p class="mt-2">
                                        {{event.formatted_markdown|safe}}
                                    </p>
                                    {% if user.is_authenticated %}
                                    <div class="">
                                        {% comment %} <p>
                                            Yes:
                                            {% for participant in content.participation_yes %}
                                            {{participant.person}}
                                            {% endfor %}
                                        </p>
                                        <p>
                                            No:
                                            {% for participant in content.participation_no %}
                                            {{participant.person}}
                                            {% endfor %}
                                        </p>
                                        <p>
                                            Maybe:
                                            {% for participant in content.participation_maybe %}
                                            {{participant.person}}
                                            {% endfor %}
                                        </p> {% endcomment %}
                                    </div>
                                    {% else %}
                                    <div class="">
                                        <p>es kommen leute zum Training</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
