<div class="container">
  {% for post in posts %}
  <h3>{{ post.title }}</h3>
  <p>{{ post.formatted_markdown|safe }}</p>
  {% endfor %}

  {% if user.is_authenticated %}
  {% for mpo in memberposts %}
  <h3>{{ mpo.title }}</h3>
  <p>{{ mpo.formatted_markdown|safe }}</p>
  {% endfor %}
  {% endif %}
</div><!--/span-->
<hr>
<div class="container pb-2">
  <span class="badge badge-warning" type="button" onclick="window.location.href='{% url 'events:categ' 'training' %}';">training</span>
  <span class="badge badge-success" type="button" onclick="window.location.href='{% url 'events:categ' 'tournament' %}';">tournaments</span>
  <span class="badge badge-primary" type="button" onclick="window.location.href='{% url 'events:categ' 'social' %}';">social</span>
  <span class="badge badge-secondary" type="button" onclick="window.location.href='{% url 'events:categ' 'other' %}';">other</span>
</div>

<div class="container mb-3">
  {% if user.is_authenticated %}
  <button class="btn btn-primary rounded mb-1" type="submit">save</button>
  {% endif %}
  {% if user.is_staff %}
  <a class="btn btn-primary rounded mb-1" type="button" name="button" href="{% url 'admin:events_event_add' %}">
    add an event
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
      <circle cx="12" cy="12" r="10"></circle>
      <line x1="12" y1="8" x2="12" y2="16"></line>
      <line x1="8" y1="12" x2="16" y2="12"></line>
    </svg>
  </a>
  {% endif %}
</div>
