{% extends "page/base_generic.html" %}
{% block content %}




<div class="container pt-3">
  <div class="row">

    <aside class="col-md-4 mt-0 bg-light">

      {% include "wiki/sidebar.html" %}
    </aside>

    <div class="col-md-8">
      <h2 >{{article.title}}</h2>
      <p>{{article.formatted_markdown|safe}}</p>
      
      <div class="row m-0">
        {% for img in article.images.all %}
        {% if img.public or user.is_authenticated %}
        <a href="{{ img.image_url }}">
            <div class="col m-0 p-0">
                <img src="{{ img.thumb_url }}"
                    class="img m-0 p-0"
                    alt= "{{ img.thumb_url }}" 
                    style="object-fit:cover;
                            width:100px;
                            height:100px;
                            border: solid 1px #CCC"/>
            </div>
        </a>
        {%endif%}
        {% endfor %}
      </div>
      {% if article.files.count > 0 %}
      <hr>
      <h4>Files</h4>
      <div class="row m-0 mt-2">
        {% for file in article.files.all %}
        {% if file.public or user.is_authenticated %}
        <a class="pr-2 pl-2" href="{{ file.file_url }}">
            <div class="col m-0 p-0">
                <img src="{{ file.file_type_icon }}"
                    class="img m-0 p-0"
                    style="object-fit:cover;
                            width:64px;
                            height:64px" />
            </div>
            <small>{{ file.title }}</small>
        </a>
        {%endif%}
        {% endfor %}
      </div>
      {% endif %}
      <br>
      <div class="row">
        {% if user.is_staff %}
        <a class="btn btn-light" role="button" href="{% url 'admin:wiki_article_change' article.id %}?next={{request.path}}">
            edit article
        </a>
        {% endif %}
      </div>


    </div>

  </div>
</div>
{% endblock %}
