{% extends "page/base_generic.html" %}
{% block content %}
{% load static %}

<div class="bg-light">
    <div class="row m-0 p-0">
        <img class="w-100" src="{% static '/images/teamfoto.jpeg' %}" alt="First slide">
        <div class="col-md-12 mt-0">
            {% include "public/sidebar.html" %}
        </div><!-- /.blog-sidebar -->
        <div class="album bg-light mt-4 mb-4 pt-2 pb-2">
            <!-- Example row of columns -->
            <div class="row m-0">
                {% for i in published_posts %}
                <div class="col-md-6 m-0">
                    <div class="card mb-4 shadow-sm h-100">
                        {% if i.title_image %}
                        <img class="card-img-top" src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        {% else %}
                        <a href="{% url 'wiki:detail' i.slug %}">
                            <img class="card-img-top" src="{% static '/images/background.png' %}" alt="Card image cap">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <a class="font-weight-bold text-body" href="{% url 'wiki:detail' i.slug %}">
                                {{ i.title }}
                            </a>
                            <p>
                                {{ i.formatted_markdown|safe }}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{% url 'wiki:detail' i.slug %}';">
                                        View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{% url 'admin:wiki_article_change' i.id %}?next={{request.path}}';">
                                        Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row bg-white p-0 pt-2 m-0 mt-4">
        <div class="col-md-6">
            <h4 class="font-italic">find us on</h4>
            <ol class="list-unstyled">
                <li>
                    <a href="https://www.instagram.com/saxydivers/">
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/LeipzigUltimate">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/SaxyDivers">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://github.com/flo-schu/diverssite/">
                        GitHub
                    </a>
                </li>
            </ol>
        </div>


        <div class="col-md-6">
            <h4 class="font-italic">
                contact us
            </h4>
            <a href="mailto: saxydivers@gmail.com">
                saxydivers@gmail.com
            </a>
        </div>
    </div>
</div>
{% endblock %}
