<div class="p-4 mb-3 bg-light rounded">
  <h4 class="font-italic">{{ welcome_title }}</h4>
  <p class="mb-0">{{ welcome_text }}</p>
</div>

<div class="card p-4">
  <h4 class="font-bold">Nächstes Training</h4>
  <p class="mb-0">{{next_training.date}}, {{next_training.location}}</p>
  {% if partn > 0 %}
  <p class="mb-0">mindestens {{partn}} Person kommt</p>
  {% elif partn > 1 %}
  <p class="mb-0">mindestens {{partn}} Personen kommen</p>
  {%endif%}
</div>

<div class="p-4">
  <h4 class="font-italic">Elsewhere</h4>
  <ol class="list-unstyled">
    <li><a href="https://github.com/flo-schu/diverssite/">GitHub</a></li>
    <li><a href="https://twitter.com/LeipzigUltimate">Twitter</a></li>
    <li><a href="https://www.facebook.com/SaxyDivers">Facebook</a></li>
  </ol>
</div>
