<div class="m-2 pl-2 bg-light rounded">
    <h4 class="font-italic">{{ welcome.welcome_title }}</h4>
    <p class="mb-0">{{ welcome.welcome_text }}</p>
</div>


<div class="card m-2 mt-4">
    <a class="card-header p-2" href="{% url 'events:index' %}">
        <h4 class="font-bold pb-0 mb-0">Nächstes Event</h4>
        <p class="mb-0 pt-0">{{next_training.name}}: {{ next_training.date|date:"d.m.y" }}, {{ next_training.location }}</p>
    </a>
    {% if user.is_authenticated %}
    <div class "card-body p-2">
        {% if next_training.name != "" %}
        <div class="row pl-2">
            <div class="col">
                <small>who's in? 👍</small>
            </div>
        </div>
        <div class="container pl-2 m-0">
            <div class="row float-left pl-0 ml-0 pb-2" style="line-height:1;">
            {% for part in coming %}
                <div class="col m-0 p-0">
                    <img src="{{ part.person.profile.image_url }}"
                            class="img m-0 p-0"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="{{ part.person.first_name }}"
                            alt="{{ part.person.first_name }}"
                            style="object-fit:cover;
                                width:35px;
                                height:35px;
                                border: solid 1px #CCC"/>
                </div>
            {% endfor %}
            </div>
        </div>
        {% if coming|length == 0 %}
        <div class="row p-2">
            <div class="col">
                <small>No one signed up yet. Be the first 🙂</small>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>

<div class="m-2 pl-2 mt-4">
    <h4 class="font-italic">Hier gibt's uns auch</h4>
    <ol class="list-unstyled">
        <li><a href="https://www.instagram.com/saxydivers/">Instagram</a></li>
        <li><a href="https://twitter.com/LeipzigUltimate">Twitter</a></li>
        <li><a href="https://www.facebook.com/SaxyDivers">Facebook</a></li>
        <li><a href="https://github.com/flo-schu/diverssite/">GitHub</a></li>
    </ol>
</div>


<div class="m-2 pl-2 mt-4">
    <h4 class="font-italic">Schreib uns</h4>
    <a href="mailto: saxydivers@gmail.com">saxydivers@gmail.com</a></li>
</div>
