{% extends "page/base_generic.html" %}

{% block content %}


<form method="POST" class="mx-auto" action="{% url 'register' %} ">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group">
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
            <small class="form-text">{{ field.errors }}</small>
        </div>
    {% endfor %}

    {{ form.non_field_errors }}

    <div class="g-recaptcha" data-sitekey="<your-site-key>"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}