{% extends "page/base_generic.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="containter p-3">
  <h2>{{user.username}}</h2>
  <hr>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">

      <div class="col-8">
        <h4>Personal info:</h4>
        {% crispy updateuser_form %}
        {% crispy updateaddress_form %}
        {% crispy updateprofile_form %}
      </div>
      <div class="col-4">
        <a href="{{profile.image_url}}" target="_blank">
          <img src="{{profile.image_url}}" class="img-fluid" alt="Responsive image">
        </a>
        {% crispy profilepicture_form %}
      </div>
      <input class="btn btn-secondary mt-2 p-1" type="submit" value="change">
    </div>
  </form>
</div>


</div>

{% endblock %}
